name: 'CI/CD pipeline for node.js'

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v4.2.2

          - name: Setup Node.js environment
            uses: actions/setup-node@v4.1.0
            with:
              node-version: 20

          - name: check the node version
            run: |
             node -v
             npm -v
         
          - name: node.js installation
            run: npm install
          
          - name: run the tests
            run: npm test

          - name: view directory 
            run: |
                 pwd
                 ls
          
          - name: Upload a Build Artifact
            uses: actions/upload-artifact@v4.5.0
            with:
              name: node-modules
              path: node_modules
              retention-days: 2
    
    
    download:
        runs-on: ubuntu-latest
        needs: build
        steps:
          - name: Checkout
            uses: actions/checkout@v4.2.2
         
          - name: Download a Build Artifact
            uses: actions/download-artifact@v4.1.8
            with:
              name: node-modules
              path: .

          - name: view directory
            run: |
                ls
              
                    


         
